# =============================================================
# MIMIC PneumoFusionNet - .gitignore
# =============================================================

# -------------------------------------------------------------
# Restricted MIMIC Data (NEVER COMMIT)
# -------------------------------------------------------------
MIMIC_CXR_JPG_P1/
mimiciv/
dataset_139/
1000_dataset/*
!1000_dataset/notebooks_scaleUp/
1000_dataset/notebooks_scaleUp/.ipynb_checkpoints/
reports/
docs/

# -------------------------------------------------------------
# Metadata / Derived Files
# -------------------------------------------------------------
mimic-cxr-2.0.0-chexpert.csv
mimic-cxr-2.0.0-metadata.csv
mimic-cxr-2.0.0-split.csv

IMAGE_FILENAMES*
patient_sub*
study_id*
urls*

# -------------------------------------------------------------
# Medical Image Formats
# -------------------------------------------------------------
*.jpg
*.jpeg
*.dcm
*.nii
*.nii.gz

# -------------------------------------------------------------
# Model Checkpoints
# -------------------------------------------------------------
*.pt
*.pth
*.ckpt
*.h5
*.keras
*.pkl

# -------------------------------------------------------------
# Python Virtual Environments
# -------------------------------------------------------------
venv/
env/
.venv/
.env/
venv_PneumoFusionNet/


# -------------------------------------------------------------
# Python Cache
# -------------------------------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# -------------------------------------------------------------
# Jupyter
# -------------------------------------------------------------
.ipynb_checkpoints/

# -------------------------------------------------------------
# IDE / Editor
# -------------------------------------------------------------
.vscode/
.idea/
*.swp
*.swo
*~

# -------------------------------------------------------------
# Logs & Temporary Files
# -------------------------------------------------------------
*.log
*.tmp
*.temp
logs/

# -------------------------------------------------------------
# Archives
# -------------------------------------------------------------
*.zip
*.gz
*.tar
*.7z

# -------------------------------------------------------------
# OS Files
# -------------------------------------------------------------
.DS_Store
Thumbs.db
desktop.ini
ehthumbs.db

# -------------------------------------------------------------
# Allowed Research Outputs
# -------------------------------------------------------------
# PNG files such as:
# confusion_matrix.png
# roc_curve.png
# train_loss.png
# are intentionally tracked.

!1000_dataset/outputs/
!1000_dataset/outputs/**
!1000_dataset/outputs/**/*.pth
!1000_dataset/outputs/**/*.pt

*.csv